<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Ruteo Simple</a>
  <div class=" navbar" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/destino']">Destino</a>
      </li>

    </ul>
  </div>
</nav>

<h1 class="jumbotron text-center">
  <div class="container">{{ title }}</div>
</h1>
<div class="container content">
  <router-outlet></router-outlet>
</div>


