<form
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">

  <div class="form-group">
    <label for="nombre"><b>Nombre</b></label>
    <input type="text" class="form-control" autocomplete="off" id="nombre" placeholder="Ingresar Nombre" [formControl]="fg.controls['nombre']">
    <!--<div *ngIf="!fg.controls['nombre'].valid">nombre inválido!</div>-->
    <div *ngIf="fg.controls['nombre'].hasError('required')" class="text-warning">Nombre requerido!</div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')" class="text-danger">Nombre invalido!</div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')" class="text-info">Nombre debe tener al menos {{minLongitud}} de largo!</div>
  </div>
  <div class="form-group">
    <label for="imageUrl"><b>Imagen URL</b></label>
    <input type="text" class="form-control" autocomplete="off" id="imageUrl" placeholder="Ingresar URL" [formControl]="fg.controls['url']">
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>